@model IEnumerable<TheCrawlBeforeYouCanWalkWebsite.Models.Person>

<h1>Registrer resultater</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialSecurityNo)
            </th>
            <th>
                Anfør resultat af test
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.SocialSecurityNo)
                </td>
                <td>
                    @foreach (var result in person.Results)
                    {
                        <p>Test d. @result.SampleDate.ToString("D")</p>

                        @using (Html.BeginForm("Results", "Admin", person))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div>
                                        <select asp-for="@result.Conclusion" asp-items="Html.GetEnumSelectList<TestConclusion>()"></select>
                                    </div>
                                    <input type="submit" value="OK" class="btn btn-default" />
                                </div>

                                @*<div class="form-group">
                                    <div>
                                        <input type="submit" value="OK" class="btn btn-default" />
                                    </div>
                                </div>*@
                            </div>
                        }
                        <br />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
